.container {
  padding: 10px;
  margin: 2% 25%;
  border: 1px solid black;
  width: 20%;
  align-items: center;
  height: auto
}

.container1 {
  margin-left: 60px
}

.box {
  margin-top: 15px;
}

.inputs {
  width: 250px
}

input:hover {
  border: 2px solid black;
}

button {
  margin-left: 90px;
  margin-top: 9px;
}

label {
  font-weight: bold;
  color: rgb(58, 112, 91)
}

.countryField {
  display: inline;
  margin-left: 10px;
}

.stateField {
  display: inline;
  margin-left: 33px;
}

.cityField {
  display: inline;
  margin-left: 38px;
}

.selection {
  width: 177px
}

.genderField {
  display: inline;
  margin-left: 7px
}

.ischeckField {
  width: 400px
}

.error,
.ast {
  color: rgb(201, 77, 77)
}

.address {
  font-weight: bold;
  color: rgb(58, 112, 91)
}
