<h1>Array Methods</h1>

<hr>

<h2>filter()</h2>
<h3>Data</h3>
{{data1|json}}
<h3>result : (age less than 4)</h3>
{{filterResult|json}}

<hr>

<h2>concat()</h2>
<h3>Data 1</h3>
{{data1|json}}
<h3>Data 2</h3>
{{data2|json}}
<h3>result : (joint both of the data)</h3>
{{concatResult|json}}

<hr>

<h2>copyWithin()</h2>
<h3>Data</h3>
{{data1|json}}
<h3>result : (copy the array from given index)</h3>
{{copyWithinResult|json}}

<hr>

<h2>every()</h2>
<h3>Data</h3>
{{data1|json}}
<h3>result : (returns true if all the age is less than 5)</h3>
{{everyResult}}

<hr>

<h2>fill()</h2>
<h3>Data</h3>
{{data1|json}}
<h3>result : (fill the given object into specified index)</h3>
{{fillResult|json}}

<hr>

<h2>find()</h2>
<h3>Data</h3>
{{data1|json}}
<h3>result : (where id is 1)</h3>
{{findResult|json}}

<hr>

<h2>findIndex()</h2>
<h3>Data</h3>
{{data1|json}}
<h3>result : (where id is 3)</h3>
{{findIndexResult|json}}

<hr>

<h2>flat()</h2>
<h3>Data</h3>
{{data1|json}}
<h3>result</h3>
{{flatResult|json}}

<hr>

<h2>flatMap()</h2>
<h3>Data</h3>
{{data1|json}}
<h3>result</h3>
{{flapMapResult|json}}

<hr>

<h2>forEach()</h2>
<h3>Data</h3>
{{data1|json}}
<h3>result : (added 10 to age)</h3>
{{forEachData|json}}

<hr>

<h2>Includes()</h2>
<h3>Data</h3>
{{includeData}}
<h3>result : (where is finds the string "apple")</h3>
{{includesResult}}

<hr>

<h2>indexOf()</h2>
<h3>Data</h3>
{{indexOfData}}
<h3>result : (find the index of the string "apple")</h3>
{{indexOfResult}}

<hr>

<h2>join()</h2>
<h3>Data</h3>
{{joinData}}
<h3>result : (join the data with "+")</h3>
{{joinResult|json}}

<hr>

<h2>keys()</h2>
<h3>Data</h3>
{{data1|json}}
<h3>result</h3>
{{keysResult}}

<hr>

<h2>lastIndexOf()</h2>
<h3>Data</h3>
{{lastIndexOfData}}
<h3>result : (returns the last index of the number "4")</h3>
{{lastIndexOfResult}}

<hr>

<h2>map()</h2>
<h3>Data</h3>
{{data1|json}}
<h3>result : (returns the age from the object)</h3>
{{mapResult|json}}

<hr>

<h2>pop()</h2>
<h3>Data</h3>
{{data1|json}}
<h3>result : (remove last element)</h3>
<p>Deleted Item : {{popResult|json}}</p>
<p> Modified Array: {{popData|json}} </p>

<hr>

<h2>push()</h2>
<h3>Data</h3>
{{data1|json}}
<h3>result : (added element at the end)</h3>
<p> Modified Array: {{pushData|json}} </p>

<hr>

<h2>reduce()</h2>
<h3>Data</h3>
{{reduceData}}
<h3>result : (substract element from left to right and returns total)</h3>
{{reduceResult}}

<hr>

<h2>reduceRight()</h2>
<h3>Data</h3>
{{reduceRightData}}
<h3>result : (substract element from right to left and returns total)</h3>
{{reduceRightResult}}

<hr>

<h2>reverse()</h2>
<h3>Data</h3>
{{data1|json}}
<h3>result : (reverse the string)</h3>
{{reverseData|json}}

<hr>

<h2>shift()</h2>
<h3>Data</h3>
{{data1|json}}
<h3>result : (remove the element from start)</h3>
<p>Deleted Item : {{shiftResult|json}}</p>
<p> Modified Array: {{shiftData|json}} </p>

<hr>

<h2>slice()</h2>
<h3>Data</h3>
{{data1|json}}
<h3>result : (returns specific elements from object)</h3>
{{sliceResult|json}}

<hr>

<h2>some()</h2>
<h3>Data</h3>
{{data1|json}}
<h3>result : (returns true if any of the age is less than 2 )</h3>
{{someResult|json}}

<hr>

<h2>sort()</h2>
<h3>Data</h3>
{{sortData|json}}
<h3>result</h3>
{{sortResult|json}}

<hr>

<h2>splice()</h2>
<h3>Data</h3>
{{data1|json}}
<h3>result : (removes specific items and added new item)</h3>
<p>Removed Item : {{spliceResult|json}}</p>
<p>Modified Array: {{spliceData|json}}</p>

<hr>

<h2>toString()</h2>
<h3>Data</h3>
{{toStringData}}
<h3>result</h3>
{{toStringResult}}

<hr>

<h2>unshift()</h2>
<h3>Data</h3>
{{data1|json}}
<h3>result : (added the new item from the start)</h3>
{{unshiftData|json}}

<hr>
